.editor-area {
  border: 1px solid var(--editor-border);
  margin: 20px;
  padding: 20px;
}

/* Toolbar styles */
.ql-toolbar {
  border: none;
  background-color: var(--editor-toolbar);
}

/* Editor styles */
.ql-container {
  height: 500px;
  border: 1px solid var(--editor-toolbar-border);
  border-top: none;
}

/* You can add more styling here */
/* RTL related styles */

.ql-align-right {
  direction: rtl;
  text-align: right;
}

/* Add more styles as needed */
