/* Radix UI behavioural variables */
:root {
  /* Toast swipe behavior */
  --radix-toast-swipe-end-x: calc(100% + 24px);   /* المسافة اللي بينتهي عندها السحب */
  --radix-toast-swipe-move-x: calc(100% + 12px); /* المسافة اللي بتحرك فيها */

  /* Navigation Menu */
  --radix-navigation-menu-viewport-height: 320px;
  --radix-navigation-menu-viewport-width: 480px;

  /* Select Menu */
  --radix-select-trigger-height: 40px;
  --radix-select-trigger-width: 240px;
}

/* Responsive overrides for mobile */
@media (max-width: 767px) {
  :root {
    --radix-navigation-menu-viewport-width: 320px;
    --radix-select-trigger-width: 100%; /* ياخد عرض الشاشة في الموبايل */
  }
}
